<section id="equipo" class="py-16 bg-deep-blue">
    <div class="container mx-auto px-4 sm:px-6 lg:px-8">

        <h2 class="text-4xl font-bold text-center mb-12" data-text-key="team_title">Conoce a Nuestro <span
                class="text-electric-blue">Equipo</span></h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-12 max-w-4xl mx-auto">

            <!-- CEO -->
            <div class="bg-dark-alt rounded-xl shadow-2xl transition duration-300 overflow-hidden">
                <div class="flex items-center p-4">

                    <img src="./assets/images/col/ricardo_ramos.webp" alt="Foto del CEO"
                        class="w-20 h-20 rounded-xl mr-4 object-cover border-2 border-electric-blue">

                    <div class="flex-grow">
                        <h4 class="text-xl font-bold" data-text-key="leader1_name">Ricardo R.</h4>
                        <p class="text-electric-blue text-sm" data-text-key="leader1_title">CEO & Fundador</p>
                        <div class="flex space-x-2 mt-1">
                            <a href="https://www.linkedin.com/in/rcardo-ramos/"
                                class="text-gray-400 hover:text-electric-blue"><span data-lucide="linkedin"
                                    class="w-4 h-4"></span></a>
                            <a href="mailto:contacto@minddevperu.com?subject=Solicitud%20de%20información&body=Hola%20Minddev%2C%20me%20gustaría%20recibir%20más%20detalles%20sobre%20sus%20servicios."
                                class="text-gray-400 hover:text-electric-blue"><span data-lucide="mail"
                                    class="w-4 h-4"></span></a>
                        </div>
                    </div>

                    <!-- Botón de Detalle -->
                    <button onclick="toggleBio('ceo-bio')"
                        class="w-8 h-8 rounded-full bg-electric-blue text-white-pure flex items-center justify-center transition duration-300 transform hover:scale-110">
                        <span data-lucide="plus" id="ceo-icon" class="w-5 h-5"></span>
                    </button>
                </div>

                <!-- Detalle Ocultable -->
                <div id="ceo-bio" class="bio-detail bg-deep-blue">
                    <p class="text-sm text-gray-300" data-text-key="leader1_bio">Ricardo es el visionario detrás
                        de MindDev, con más de 5 años de experiencia en transformación digital y arquitecturas
                        de microservicios. Su enfoque está en la innovación ágil y la expansión global de la
                        compañía.</p>
                </div>
            </div>

            <!-- Co-Founder -->
            <div class="bg-dark-alt rounded-xl shadow-2xl transition duration-300 overflow-hidden">
                <div class="flex items-center p-4">
                    <img src="./assets/images/col/kevin_salazar.webp" alt="Foto del Founder"
                        class="w-20 h-20 rounded-xl mr-4 object-cover border-2 border-accent-purple">

                    <div class="flex-grow">
                        <h4 class="text-xl font-bold" data-text-key="leader2_name">Kevin S.</h4>
                        <p class="text-accent-purple text-sm" data-text-key="leader2_title">Co-Founder & CTO</p>
                        <div class="flex space-x-2 mt-1">
                            <a href="https://www.linkedin.com/in/kevin-salazar-832b41120/" target="_blank"
                                class="text-gray-400 hover:text-accent-purple"><span data-lucide="linkedin"
                                    class="w-4 h-4"></span></a>
                            <a href="mailto:contacto@minddevperu.com?subject=Solicitud%20de%20información&body=Hola%20Minddev%2C%20me%20gustaría%20recibir%20más%20detalles%20sobre%20sus%20servicios."
                                class="text-gray-400 hover:text-accent-purple"><span data-lucide="mail"
                                    class="w-4 h-4"></span></a>
                        </div>
                    </div>

                    <!-- Botón de Detalle -->
                    <button onclick="toggleBio('cto-bio')"
                        class="w-8 h-8 rounded-full bg-accent-purple text-white-pure flex items-center justify-center transition duration-300 transform hover:scale-110">
                        <span data-lucide="plus" id="cto-icon" class="w-5 h-5"></span>
                    </button>
                </div>

                <!-- Detalle Ocultable -->
                <div id="cto-bio" class="bio-detail bg-deep-blue">
                    <p class="text-sm text-gray-300" data-text-key="leader2_bio">Kevin es la mente estratégica y
                        especialista en desarrollo Full Stack, liderando la innovación y supervisando cada etapa
                        del proceso técnico. Su experiencia combina el diseño de interfaces modernas con la
                        creación de arquitecturas escalables y eficientes.</p>
                </div>
            </div>
        </div>

        <h3 class="text-2xl font-bold text-center mb-6" data-text-key="team_collaborators">Nuestros
            Colaboradores</h3>
        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4 gap-6 max-w-5xl mx-auto">

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="./assets/images/col/andrea.webp" alt="Frontend Dev"
                        class="w-16 h-16 rounded-full mx-auto mb-2 object-cover border-2 border-electric-blue/50">
                    <p class="text-base font-semibold" data-text-key="collab1_name">Andrea J.</p>
                    <p class="text-xs text-electric-blue mb-2" data-text-key="collab1_title">Frontend Developer
                    </p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-electric-blue mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="./assets/images/col/pedro-avila.webp" alt="Backend Dev"
                        class="w-16 h-16 rounded-full mx-auto mb-2 object-cover border-2 border-accent-purple/50">
                    <p class="text-base font-semibold" data-text-key="collab2_name">Pedro C.</p>
                    <p class="text-xs text-accent-purple mb-2" data-text-key="collab2_title">Backend Engineer
                    </p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-accent-purple mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="./assets/images/col/Maitena.webp" alt="Diseñadora"
                        class="w-16 h-16 rounded-full mx-auto mb-2  border-2 border-electric-blue/50">
                    <p class="text-base font-semibold" data-text-key="collab3_name">Maitena C.</p>
                    <p class="text-xs text-electric-blue mb-2" data-text-key="collab3_title">Diseño UX/UI</p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-electric-blue mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="./assets/images/col/astrid-ramos.webp" alt="Psicóloga"
                        class="w-16 h-16 rounded-full mx-auto mb-2  border-2 border-accent-purple/50">
                    <p class="text-base font-semibold" data-text-key="collab4_name">Astrid R.</p>
                    <p class="text-xs text-accent-purple mb-2" data-text-key="collab4_title">Reclutadora IT</p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-accent-purple mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="./assets/images/col/frecsia-camarena.webp" alt="Ejecutivo Comercial"
                        class="w-16 h-16 rounded-full mx-auto mb-2 object-cover border-2 border-electric-blue/50">
                    <p class="text-base font-semibold" data-text-key="collab5_name">Frecsia M.</p>
                    <p class="text-xs text-electric-blue mb-2" data-text-key="collab5_title">Ejec. Comercial</p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-electric-blue mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="../assets/images/col/guillermo-huayhua.webp" alt="Project Manager"
                        class="w-16 h-16 rounded-full mx-auto mb-2  border-2 border-accent-purple/50">
                    <p class="text-base font-semibold" data-text-key="collab6_name">Guillermo H.</p>
                    <p class="text-xs text-accent-purple mb-2" data-text-key="collab6_title">Project Manager</p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-accent-purple mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="./assets/images/col/angel-rodriguez.webp" alt="QA Tester"
                        class="w-16 h-16 rounded-full mx-auto mb-2 object-cover border-2 border-electric-blue/50">
                    <p class="text-base font-semibold" data-text-key="collab7_name">Angel R.</p>
                    <p class="text-xs text-electric-blue mb-2" data-text-key="collab7_title">QA Tester</p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-electric-blue mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>

            <div
                class="p-4 bg-dark-alt rounded-lg text-center shadow-lg flex flex-col justify-between hover:shadow-electric-blue/10 transition duration-300">
                <div>
                    <img src="./assets/images/col/patricia-soto.webp" alt="Marketing Specialist"
                        class="w-16 h-16 rounded-full mx-auto mb-2 border-2 border-accent-purple/50">
                    <p class="text-base font-semibold" data-text-key="collab8_name">Patricia S.</p>
                    <p class="text-xs text-accent-purple mb-2" data-text-key="collab8_title">Marketing Digital
                    </p>
                </div>
                <a href="https://www.linkedin.com/company/minddev-peru/posts/?feedView=all" target="_blank"
                    class="text-gray-400 hover:text-accent-purple mx-auto transition mt-2">
                    <span data-lucide="linkedin" class="w-4 h-4"></span>
                </a>
            </div>
        </div>

        <div class="mt-12 text-center pt-6 border-t border-gray-700/50">
            <h3 class="text-2xl font-bold mb-3" data-text-key="careers_title">Oportunidades Laborales</h3>
            <p class="text-gray-400 text-sm mb-4" data-text-key="careers_subtitle">¿Buscas un reto? Únete a
                nuestro equipo de alto rendimiento. Creamos el futuro, juntos.</p>
            <a href="#footer"
                class="inline-flex items-center bg-transparent border-2 border-electric-blue text-electric-blue px-6 py-2 rounded-full font-bold hover:bg-electric-blue hover:text-white-pure transition duration-300 transform hover:scale-105"
                data-text-key="btn_view_careers">
                Ver Carreras <span data-lucide="briefcase" class="w-4 h-4 ml-2"></span>
            </a>
        </div>
    </div>
</section>